:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  display: inline-block;
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a.active {
  color: whitesmoke;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  margin: 1rem auto;
  width: max-content;
  font-size: 3.2em;
  line-height: 1.1;
}

header > a {
  display: none;
  margin: 0 .5rem;
}

ul {
  list-style: none;
}

.tit {
  display: inline-flex;
  color: #646cff;
  background-color: #ccc4;
  text-shadow: 0 0 6px #242424;
  padding: 2px;
  border-radius: 8px;
}

.prices {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;

  & .prices-ticket{
    border: 1px solid transparent;
    padding: 4px 8px;
    border-radius: 4px;
    width: max-content;
    cursor: pointer;

    & span {
      pointer-events: none;
    }

    &:hover {
      background-color: #ccc4;
      border: 1px solid #646cff;

      & .tit {
        color: black;
      }
    }
  }
}

form.log_sign {
  margin: .5rem;
  display: grid;
  grid-template-columns: repeat(4, min-content) ;
  grid-template-rows: fit-content;
  gap: .5rem;
  align-items: start;
}

form.log_sign > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h4 {
  margin-bottom: .5rem;
}

.error {
  max-width: 80%;
  margin: 0 auto;
  font-size: .8rem;
  display: none;
  color: red;
}

form.log_sign:has(input:invalid) > button {
  display: none;
}

input:invalid {
  padding: 2px;
  border: 1px solid red;
  border-radius: 2px;
}

input:invalid + .error {
  display: inline-block;
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

#eventscontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

#events-purchased, #events-saved {
  padding: 2rem;
  border: 1px solid #dac50c;
  border-radius: 4px;;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#events-saved {
  border: 1px solid #0c62da;
}

.event_card {
  border: 1px solid #535bf299;
  background-image: radial-gradient(#535bf200 0%, #535bf200 75%, #535bf2aa 100%);
  position: relative;
  padding: .8rem 1.6rem;
  border-radius: 8px;
  overflow: hidden;
  perspective: 600px;

  & > p {
    margin: 0.5rem auto;
    width: 50rem;
    overflow-wrap: break-word;
    text-wrap: pretty;
  }

  img {
    border-radius: 16px;
  }
}

@property --angles {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes anim_dialog {
  0% { --angles: 0deg  }
  25% { --angles: 45deg}
  75% { --angles: 225deg}
  100% { --angles: 360deg }
}

dialog  {
  position: fixed;
  border: none;
  overflow: visible;
  background-color: #242424;
  border-radius: 4px;

}

dialog::backdrop {
  backdrop-filter: blur(5px);
}

dialog::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 4px;
  background-color: #242424;
  z-index: -10;
}

dialog::before {
  content: "";
  position: absolute;
  width: 98%;
  height: 100%;
  top: 0;
  left: 0.97%;
  transform: scale(1.03);
  border-radius: 4px;
  background-image: conic-gradient( from var(--angles), #fff 0%, #242424 25%, #242424 50%, #fff 100% );
  animation: anim_dialog 1000ms infinite;
  z-index: -100;
}



.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#eventscontainer {
  display: flex;
  flex-direction: column;
  gap: 2rem
}

footer {
  transform: translateY(3rem);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



/* 
.file-select {
  position: relative;
  display: inline-block;
}

.file-select::before {
  background-color: #646cff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  content: 'Seleccionar';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.file-select input[type="file"] {
  opacity: 0;
  width: 200px;
  height: 32px;
  display: inline-block;
}

#image::before {
  content: 'Seleccionar Imagen';
} */